// Colors
$white:         #FFFFFF;
$black:         #111111;
$dark-grey:     #858585;
$medium-grey:   #EAEAEA;
$light-grey:    #F5F7F7;
$red:           #D31114;
$green:         #0F9601;
$yellow:        #F5A71B;
$widget-background-color: #f2f2f2;
$modal-background-color: #f2f2f2;
$red-orange:    #FF741A;