* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Stops flash on tap iOS */
  }

.toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}

.toggle + label {
  cursor: pointer;
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 30px; width: 50px;
  border-radius: 15px;
  background-color: $base-color;
}

.toggle + label:before {
  content: '';
  position: absolute;
  display: block;
  height: 30px; width: 30px;
  top: 0; left: 0;
  border-radius: 15px;
  background: $green;
  transition: .25s ease-in-out;
}

.toggle + label:after {
  content: '';
  position: absolute;
  display: block;
  height: 30px; width: 30px;
  top: 0; left: 0;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
  transition: .25s ease-in-out;
}

.toggle:checked + label:before {
  width: 50px;
  background: rgba(19,191,17,1);
}

.toggle:checked + label:after {
  left: 20px;
  box-shadow: inset 0 0 0 1px rgba(19,191,17,1), 0 2px 4px rgba(0,0,0,.2);
}

.toggleDiscussion, .toggleMedia {

  .toggle + label {
    background-color: #E4E4E4;
    ;
  }

  .toggle + label:before {
    background: #E4E4E4;
  }

  .toggle:checked + label:after {
    left: 20px;
    box-shadow: inset 0 0 0 1px rgb(180, 191, 180), 0 2px 4px rgba(0,0,0,.2);
  }
}
